#main {
    font-family: 'Courier New', Courier, monospace;
}

#img {
    position: fixed;
    top: -50%;
    left: -50%;
    height: 200%;
    width: 200%;
}

#img img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    min-width: 50%;
    min-height: 50%;
    height: 75%;
    width: 75%;
    background-color: dimgray;
    background-image: linear-gradient(rgba(0, 0, 0, .5), rgba(255, 255, 255, .5));
}

#shader {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, .7);
}

#calc {
    position: relative;
    height: 600px;
    width: 500px;
    top: 600px;
    margin: auto;
    border: 2px dashed white;
    text-align: center;
}

h2 {
    color: aqua;
    margin: 20px auto;
}

#calcFrame {
    height:500px;
    width: 400px;
    border: solid white 2px;
    margin: 20px auto;
    background-color: rgba(255, 255, 255, .7);
}

#screen {
    height: 95px;
    margin: 0px 0px 4px 0px;
    padding: 0px 12px;
    width: auto;
    border: 2px solid black;
    background-color: gray;
    box-shadow: inset 1px 1px 5px black, inset -1px -1px 5px black;
    text-align: right;
}

#keyContainer {
    width: 400px;
    height: 400px;
    display: inline-grid;
    grid-template-columns: 96px 96px 96px 96px;
    grid-template-rows: 96px 96px 96px 96px;
    grid-column-gap: 4px;
    grid-row-gap: 4px;
    justify-content: center;

}

#keyContainer div {
    border: 2px solid black;
    background-color: gray;
    text-align: center;
    font-size: 30px;
    text-shadow: grey 2px 2px 2px;
    box-shadow: inset 1px 1px 5px black, inset -1px -1px 5px black;
    transition: all 0.07s ease;
}

#keyMinus {
    grid-column: 4;
    grid-row: -1;
}

#keyContainer .hovered {
    text-shadow: grey 2px 2px 2px;
    border: 2px solid black;
    background-color: rgba(120, 8, 148, 0.301);
    color: white;
}

#keyContainer .clicked {
    text-shadow: grey 2px 2px 2px;
    border: 2px solid white;
    box-shadow: inset 1px 1px 5px white, inset -1px -1px 5px white;
    background-color: white;
}